In [9]:
from datetime import datetime
date=datetime.now()
year=date.year 
month=date.month 
day=1

my_date=datetime(year,month,day)

In [3]:
type(year)

int

In [10]:
my_date=my_date.strftime("%Y-%m-%d") 
my_date

'2023-03-01'

In [13]:
import pandas as pd
df = pd.read_csv(
        "../data/hist.csv", parse_dates=['日期'], index_col=0, dtype={"股票编号": object})
    
dates = df.index.unique().sort_values().to_list()
dates=[x.strftime("%Y-%m-%d") for x in dates]
dates[0]

'2023-03-01'

In [16]:
df.index

DatetimeIndex(['2023-03-10', '2023-03-01', '2023-03-02', '2023-03-03',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-01',
               ...
               '2023-03-02', '2023-03-03', '2023-03-06', '2023-03-07',
               '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-08',
               '2023-03-09', '2023-03-10'],
              dtype='datetime64[ns]', name='日期', length=40788, freq=None)

In [17]:
df.loc["2023-03-06"]

,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率,股票编号
日期,,,,,,,,,,,
2023-03-06,72.59,73.83,77.15,71.36,101618.0,7.462351e+08,8.08,3.04,2.18,12.65,688039
2023-03-06,14.58,15.14,15.14,14.54,20365.0,2.988586e+07,4.12,3.84,0.56,0.73,688222
2023-03-06,63.00,62.00,65.08,61.08,112848.0,7.127785e+08,6.53,1.17,0.72,31.53,688522
2023-03-06,14.47,14.10,14.63,13.96,620178.0,4.323961e+08,4.45,-6.37,-0.96,12.55,603660
2023-03-06,33.20,33.25,34.11,32.39,64493.0,2.145584e+08,5.19,0.42,0.14,32.25,603163
...,...,...,...,...,...,...,...,...,...,...,...
2023-03-06,7.33,7.29,7.35,7.22,2552.0,8.660413e+05,1.77,-0.82,-0.06,0.15,830964
2023-03-06,10.22,10.32,10.51,10.21,1674.0,1.291029e+06,2.92,0.49,0.05,1.38,834407
2023-03-06,6.87,6.88,7.01,6.86,627.0,3.237154e+05,2.18,0.00,0.00,0.19,832000
2023-03-06,8.39,8.27,8.58,8.07,67235.0,4.769116e+07,6.01,-2.48,-0.21,10.88,834770
2023-03-06,20.44,21.01,21.70,20.20,2225.0,4.664435e+06,7.39,3.50,0.71,0.51,835179