In [1]:
import akshare as ak
import pandas as pd

# 获得股票的总市值和市净率

In [3]:
stock_zh_a_spot_em_df = ak.stock_zh_a_spot_em()

In [5]:
stock_zh_a_spot_em_df.head()

,序号,代码,名称,最新价,涨跌幅,涨跌额,成交量,成交额,振幅,最高,...,量比,换手率,市盈率-动态,市净率,总市值,流通市值,涨速,5分钟涨跌,60日涨跌幅,年初至今涨跌幅
0,1,301439,N泓淋,24.30,21.56,4.31,540825.0,1.365732e+09,18.61,28.00,...,NaN,58.62,52.75,3.57,9.455174e+09,2.242082e+09,0.0,-0.04,21.56,21.56
1,2,300526,*ST中潜,11.98,20.04,2.00,136797.0,1.530905e+08,19.84,11.98,...,4.34,6.70,53.60,8.99,2.446903e+09,2.446667e+09,0.0,0.00,1.18,-6.26
2,3,301110,青木股份,56.74,20.01,9.46,61591.0,3.284427e+08,16.46,56.74,...,2.71,38.12,75.22,2.75,3.782667e+09,9.166745e+08,0.0,0.00,44.38,49.87
3,4,688256,寒武纪-U,122.93,20.00,20.49,222534.0,2.596614e+09,20.43,122.93,...,2.30,9.19,-42.24,9.92,4.927214e+10,2.977188e+10,0.0,0.03,82.17,125.31
4,5,688787,海天瑞声,199.49,20.00,33.25,69310.0,1.321704e+09,17.75,199.49,...,1.85,24.20,289.13,10.29,8.538172e+09,5.713622e+09,0.0,0.00,184.50,234.21

In [4]:

stock_zh_a_spot_em_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5328 entries, 0 to 5327
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   序号       5328 non-null   int64
 1   代码       5328 non-null   object
 2   名称       5328 non-null   object
 3   最新价      5114 non-null   float64
 4   涨跌幅      5114 non-null   float64
 5   涨跌额      5114 non-null   float64
 6   成交量      5114 non-null   float64
 7   成交额      5114 non-null   float64
 8   振幅       5114 non-null   float64
 9   最高       5114 non-null   float64
 10  最低       5114 non-null   float64
 11  今开       5114 non-null   float64
 12  昨收       5320 non-null   float64
 13  量比       5113 non-null   float64
 14  换手率      5328 non-null   float64
 15  市盈率-动态   5130 non-null   float64
 16  市净率      5130 non-null   float64
 17  总市值      5131 non-null   float64
 18  流通市值     5126 non-null   float64
 19  涨速       5114 non-null   float64
 20  5分钟涨跌    5114 non-null   float64
 21  60日涨跌幅   5320 non-null   float64
 22  年初至今涨跌幅  5320 non-null   float64
dtypes: float64(20), int64(1), object(2)
memory usage: 957.5+ KB

In [8]:
# 总市值dict
price_dict={}
# Convert two columns to dictionary
price_dict = stock_zh_a_spot_em_df.set_index('代码')['总市值'].to_dict()

In [16]:
price_dict.get("301439")

9455173959.0

In [9]:
# 市净率dict
percent_dict= stock_zh_a_spot_em_df.set_index('代码')['市净率'].to_dict()

In [10]:
df = pd.read_excel('../data/xueqiu2.xls')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3824 entries, 0 to 3823
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   code     3824 non-null   object
 1   name     3824 non-null   object
 2   type     3824 non-null   object
 3   content  3763 non-null   object
dtypes: object(4)
memory usage: 119.6+ KB

## 生成总市值字段

In [17]:
df['总市值']=df["code"].apply(lambda x:price_dict.get(x[3:]))

In [18]:
df.head()

        code     name   type content           总市值
0  sh.000001   上证综合指数  公司无类型  无实际控制人  2.474255e+11
1  sh.000002   上证A股指数  公司无类型  无实际控制人  1.896983e+11
2  sh.000003   上证B股指数  公司无类型  无实际控制人           NaN
3  sh.000004  上证工业类指数  公司无类型  无实际控制人  1.297925e+09
4  sh.000005  上证商业类指数  公司无类型  无实际控制人  1.894781e+09

In [19]:
df[df['总市值']>0]

           code     name   type       content           总市值
0     sh.000001   上证综合指数  公司无类型        无实际控制人  2.474255e+11
1     sh.000002   上证A股指数  公司无类型        无实际控制人  1.896983e+11
3     sh.000004  上证工业类指数  公司无类型        无实际控制人  1.297925e+09
4     sh.000005  上证商业类指数  公司无类型        无实际控制人  1.894781e+09
5     sh.000006  上证房地产指数  公司无类型        无实际控制人  7.276473e+09
...         ...      ...    ...           ...           ...
3502  sz.300665     飞鹿股份   民营企业  章卫国 (21.83%)  1.718422e+09
3503  sz.300666     江丰电子   民营企业  姚力军 (22.21%)  2.159697e+10
3504  sz.300667     必创科技   民营企业  代啸宁 (18.70%)  3.528770e+09
3505  sz.300668     杰恩设计   外资企业   姜峰 (30.72%)  2.676076e+09
3506  sz.300669     沪宁股份   民营企业  邹家春 (50.14%)  1.828775e+09

[3299 rows x 5 columns]

## 生成市净率字段

In [20]:
df['市净率']=df["code"].apply(lambda x:percent_dict.get(x[3:]))

In [21]:
df.head()

        code     name   type content           总市值   市净率
0  sh.000001   上证综合指数  公司无类型  无实际控制人  2.474255e+11  0.68
1  sh.000002   上证A股指数  公司无类型  无实际控制人  1.896983e+11  0.79
2  sh.000003   上证B股指数  公司无类型  无实际控制人           NaN   NaN
3  sh.000004  上证工业类指数  公司无类型  无实际控制人  1.297925e+09  1.46
4  sh.000005  上证商业类指数  公司无类型  无实际控制人  1.894781e+09  1.37

In [22]:
df.to_excel("总市值_市净率.xlsx")

In [1]:
import pandas as pd

In [28]:
df=pd.read_csv("data/merge/merge_同花顺_概念名称_2023-03-27.csv",index_col=0, dtype={"股票代码":object})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 749101 entries, 2023-03-01 to 2023-03-24
Data columns (total 13 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   开盘      749101 non-null  float64
 1   收盘      749101 non-null  float64
 2   最高      749101 non-null  float64
 3   最低      749101 non-null  float64
 4   成交量     749101 non-null  int64
 5   成交额     749101 non-null  float64
 6   振幅      749101 non-null  float64
 7   涨跌幅     749101 non-null  float64
 8   涨跌额     749101 non-null  float64
 9   换手率     749101 non-null  float64
 10  股票代码    749101 non-null  object
 11  股票名称    749101 non-null  object
 12  板块名称    749101 non-null  object
dtypes: float64(9), int64(1), object(3)
memory usage: 80.0+ MB

In [25]:
count_by_stock = df.groupby('股票代码')['板块名称'].nunique()
# count_by_stock = df.loc['2023-03-01'].groupby('股票代码')['板块名称'].count()
count_by_stock.info()

<class 'pandas.core.series.Series'>
Index: 5059 entries, 000001 to 873527
Series name: 板块名称
Non-Null Count  Dtype
--------------  -----
5059 non-null   int64
dtypes: int64(1)
memory usage: 79.0+ KB

In [26]:
most_common_stock_id = count_by_stock.sort_values(ascending=False).index[0]
most_common_stock_id

'002642'

In [27]:
count_by_stock.sort_values(ascending=False,inplace=True)
count_by_stock.to_csv("count.csv")

In [20]:
str="ChatGPT概念,国企改革,信创,疫情监测,国资云,数字经济,东数西算（算力）,股权转让,智能制造,碳中和,数据中心,网络安全,数字乡村,智慧政务,基因测序,车联网,云计算,工业互联网,数字孪生,独角兽概念,边缘计算,人工智能,虚拟现实,智能交通,国产软件,华为概念,一带一路,百度概念,5G,乡村振兴,大数据,智能医疗,智慧城市,物联网,参股新三板,水利"
s=str.split(",")
len(s)

36